\
# .htaccess im /public Ordner
# ---------------------------
# Standard-Setup, wenn DocumentRoot auf /public zeigt.
# Optional bei Subfolder-Hosting:
#   RewriteBase /dein/pfad/public/

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

RewriteRule ^ index.php [L,QSA]
